<main>
  <app-navbar></app-navbar>

  <div class="container mx-auto p-4 max-w-md">
    <div class="grid justify-items-center mb-8 mt-8">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250" width="70" height="70" class="mr-2">
        <path fill="#DD0031" d="M125 30L31.9 63.2l14.2 123.1L125 230l78.9-43.7 14.2-123.1z" />
        <path fill="#C3002F" d="M125 30v22.2-.1V230l78.9-43.7 14.2-123.1L125 30z" />
        <path fill="#FFFFFF"
          d="M125 52.1L66.8 182.6h21.7l11.7-29.2h49.4l11.7 29.2H183L125 52.1zm17 83.3h-34l17-40.9 17 40.9z" />
      </svg>
    </div>
    <section class="grid justify-items-center mb-4">
      <p>
        <strong>{{ todoCompleted() }}</strong> completed of
        <strong>{{ todoTotal() }}</strong>
      </p>
    </section>
    <section class="flex mb-4">
      <input
        #input
        type="text"
        placeholder="new todo..."
        id="input"
        pattern="\w{3,}"
        (keydown.code.enter)="addTodo(input)"
        class="flex-grow mr-2 p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary"
      />
    </section>
  
    <app-todo-list
      [todos]="todoList()"
      (toggleTodo)="toggleTodo($event)"
      (removeTodo)="removeTodo($event)"
    />
  </div>

</main>
